---
layout: default
title: Carisma
---
<div class="container main-content">
  <section class="section">
    <h1 class="custom-hero">Nosso Carisma</h1>

    <p class="custom-text">
      A <strong>Santa Missa</strong> é o centro da nossa vida espiritual: nela nos unimos ao Sacrifício de Cristo e nos
      alimentamos da Sua presença real na <strong>Santíssima Eucaristia</strong>. A adoração ao
      <strong>Santíssimo Sacramento</strong> é fonte diária de graça, onde aprendemos a amar, escutar e servir como
      Maria, em silêncio e adoração.
    </p>

    <br>
    <p class="custom-text">Inspirados nos santos, queremos:</p>

    <ul class="custom-text">
      <li>Viver a pobreza e amor radical de Cristo como <strong>São Francisco de Assis;</strong></li>
      <li>Ser almas de oração e reparação como <strong>São Pio de Pietrelcina;</strong></li>
      <li>
        Consagrar-nos totalmente a Jesus pelas mãos de Maria, como ensinou
        <strong>São Luís Maria Grignion de Montfort.</strong>
      </li>
    </ul>

    <div class="columns is-multiline mt-6">
      <div class="column is-one-third has-text-centered">
        <figure class="image is-inline-block">
          <img class="saint" src="{{ '/images/sao_francisco.png' | relative_url }}" alt="São Francisco de Assis">
        </figure>
        <p class="custom-text"><b>São Francisco de Assis</b></p>
      </div>
      <div class="column is-one-third has-text-centered">
        <figure class="image is-inline-block">
          <img class="saint" src="{{ '/images/sao_pio.jpeg' | relative_url }}" alt="São Pio de Pietrelcina">
        </figure>
        <p class="custom-text"><b>São Pio de Pietrelcina</b></p>
      </div>
      <div class="column is-one-third has-text-centered">
        <figure class="image is-inline-block">
          <img
            class="saint"
            src="{{ '/images/sao_luis.png' | relative_url }}"
            alt="São Luís Maria Grignion de Montfort"
          >
        </figure>
        <p class="custom-text"><b>São Luís Maria Grignion de Montfort</b></p>
      </div>
    </div>
  </section>
</div>
