---
layout: default
title: Home
---
<section class="section main-content">
  <div class="container content">
    <h1 class="custom-hero">Missa de Envio</h1>

    <p class="custom-text">
      Com grande alegria, convidamos você para participar da
      <span class="highlight">Missa de Envio</span> da Escola Com Maria, um momento de entrega total e bênção sobre
      todos os que desejam viver essa caminhada de consagração.
    </p>

    <p class="custom-text">
      A Missa acontecerá no <span class="highlight">dia 28 de junho</span>, às <span class="highlight">07h30</span>, no
      <span class="highlight">Centro Pastoral Imaculada Conceição</span>, em Barueri/SP.
    </p>
  </div>
  <br>
  <div class="container content">
    <h2 class="custom-hero">Nossos Encontros</h2>

    <p class="custom-text">
      Os encontros da Escola Com Maria acontecerão de forma
      <span class="highlight">quinzenal</span>, com início no <span class="highlight">dia 05 de julho</span>. Prepare-se
      para viver momentos profundos de formação, oração e consagração à Virgem Maria!
    </p>
  </div>
  <br>
  <div class="container content">
    <h2 class="custom-hero">Horários</h2>

    <ul class="custom-text" style="margin-left: 15px;">
      <li>► <span class="highlight">Missa de Envio:</span> 28/06 às 07h30</li>
      <li>► <span class="highlight">Encontros Quinzenais:</span> a partir de 05/07 às 19h</li>
    </ul>
  </div>
  <br>
  <br>
  <div class="container content">
    <div class="has-text-centered">
      <a
        href="https://chat.whatsapp.com/Dhna2NFTK1v6mpBc8YAl37"
        class="button is-primary is-large"
        style="background-color: #C4B35F; border: none;"
      >
        Quero me Consagrar com Maria
      </a>
    </div>
  </div>
</section>

<style>
  .highlight {
    font-weight: bold;
    color: rgb(0, 0, 0);
  }

  @media (prefers-color-scheme: dark) {
    .highlight {
      color: rgb(0, 0, 0);
    }
  }
</style>
