---
layout: default
title: Home
---
<section class="section main-content">
  <h1 class="custom-title is-hidden-touch">Escola Com Maria – Ideal e Propósito</h1>

  <!-- Imagens para Desktop -->
  <div class="columns is-multiline mt-6 is-hidden-touch">
    <div class="column is-1"></div>
    <div class="column ">
      <figure class="image is-inline-block">
        <img class="hero" src="{{ '/images/slide_cruz.jpeg' | relative_url }}" alt="Cruz">
      </figure>
    </div>
    <div class="column ">
      <figure class="image is-inline-block">
        <img class="hero" src="{{ '/images/slide_pieta.jpeg' | relative_url }}" alt="Pietá">
      </figure>
    </div>
    <div class="column ">
      <figure class="image is-inline-block">
        <img class="hero" src="{{ '/images/slide_missa.jpeg' | relative_url }}" alt="Missa">
      </figure>
    </div>
    <div class="column is-1"></div>
  </div>

  <!-- Imagem única da Pietá para Mobile/Tablet -->
  <h1 class="custom-hero is-hidden-desktop">Ideal e Propósito</h1>
  <div class="is-hidden-desktop has-text-centered">
    <figure class="image is-inline-block">
      <img class="hero" src="{{ '/images/slide_pieta.jpeg' | relative_url }}" alt="Pietá">
    </figure>
  </div>

  <br>

  <div class="container">
    <p class="custom-text">
      A Escola Com <strong>Maria</strong> é um movimento católico que deseja formar corações segundo o
      <strong>Coração de Jesus</strong>, vivendo e aprendendo aos pés de <strong>Maria</strong>, Mãe e Mestra por
      excelência. Inspirados por <strong>São Pio de Pietrelcina</strong>, <strong>São Francisco de Assis</strong> e
      <strong>São Luís Maria Grignion de Montfort</strong>, buscamos uma vida de santidade marcada pela humildade, pela
      intimidade com Deus, pelo amor à cruz e pela entrega total à vontade divina.
    </p>
    <br>
    <p class="custom-text">
      Nosso ideal é ser um povo formado por <strong>Maria</strong> para ser todo de <strong>Jesus</strong>, vivendo a
      radicalidade do Evangelho com alegria, simplicidade e obediência.
    </p>
    <p class="custom-text">
      A <strong>Santa Missa</strong> é o centro da nossa vida espiritual: nela nos unimos ao Sacrifício de Cristo e nos
      alimentamos da Sua presença real na <strong>Santíssima Eucaristia</strong>.
    </p>
    <br>
    <br>
    <p class="custom-text">
      Nosso propósito é formar discípulos e verdadeiros católicos moldados no ventre espiritual de Maria, para que, como
      ela, possam gerar Cristo no mundo.
    </p>
    {% comment %} <p class="custom-text">SALVE MARIA</p> {% endcomment %}
  </div>
</section>
