<footer class="footer">
  <div class="content has-text-centered">
    <p>&copy; {{ 'now' | date: '%Y' }} Escola. Todos os direitos reservados.</p>
    <p class="title">Fale Conosco</p>
    <p>Email: escolacommaria@gmail.com</p>
  </div>
</footer>

<style>
  .footer {
    background-color: black;
    padding: 20px;
    text-align: center;
  }

  .footer p {
    color: rgb(143, 133, 83);
    font-size: 1rem;
  }
</style>
