<footer class="footer">
  <div class="content has-text-centered">
    <p>&copy; {{ 'now' | date: '%Y' }} Escola. Todos os direitos reservados.</p>
    <p class="title">Fale Conosco</p>
    <p>Email: escolacommaria@gmail.com</p>
  </div>
</footer>
