<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item navbar-title" href="/">
      <img src="{{ '/images/logo_preto.png' | relative_url }}" class="navbar-logo">
      <span class="brand-text">ESCOLA COM MARIA</span>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMain">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarMain" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <a class="button is-warning is-light custom-button" href="{{ '/carisma' | relative_url }}"> Carisma </a>
      </div>
      <div class="navbar-item">
        <a class="button is-warning is-light custom-button" href="{{ '/contato' | relative_url }}"> Contato </a>
      </div>
      <div class="navbar-item">
        <a class="button is-warning is-light custom-button" href="/" target="_blank">
          <span class="icon"><i class="fab fa-instagram"></i></span>
        </a>
      </div>
    </div>
  </div>
</nav>

<style>
  .navbar {
    background-color: black;
    height: auto;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }

  .navbar-brand .navbar-item {
    padding: 0;
  }

  .navbar-title {
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
  }

  .navbar-logo {
    height: 100px !important;
    width: auto !important;
    max-height: none !important;
    object-fit: contain;
    display: inline-block;
  }

  .brand-text {
    color: rgb(143, 133, 83);
    font-size: 40px;
    font-weight: bold;
    transition: all 0.3s ease;
  }

  .brand-text:hover {
    color: rgb(196, 179, 95);
    transform: scale(1.05);
    text-shadow: 1px 1px 3px rgba(255, 215, 0, 0.3);
  }

  .navbar-menu {
    align-items: center;
  }

  .navbar-item {
    color: rgb(196, 179, 95);
  }

  .navbar-item:hover {
    color: rgb(59, 59, 56);
  }

  @media (max-width: 768px) {
    .brand-text {
      display: none;
    }
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const $navbarBurgers = Array.from(document.querySelectorAll('.navbar-burger'));

    $navbarBurgers.forEach((el) => {
      el.addEventListener('click', () => {
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');
      });
    });
  });
</script>
